Flask==0.12.2
gunicorn==19.7.1
numpy==1.14.2
scipy==1.0.0
Pillow==5.0.0
scikit-learn==0.19.1
keras==2.1.5
tensorflow==1.6.0
flask-socketio==2.9.6
Flask-Mail==0.9.1
h5py==2.7.0
eventlet==0.22.1
gevent==1.2.2
celery==4.1.0
redis==2.10.6
psq==0.6.0
google-cloud==0.32.0
