.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.image {
	max-width:300px;
	max-height:300px;
}

.dr{
	display:flex;
	align-items:center;
	height:300px;
}

.lw{
	width:300px;
}

.loadimg{
	display:none;
}

.nw{
	white-space:nowrap;
}