<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AI doodle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="{{ url_for('static',filename='normalize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='doodle.css') }}">
</head>

<body>


<div class="section">
    <div class="container">
      <h3 class="section-heading">AI style doodle</h3>
      <p class="section-description">Choose image and style and see what AI doodling will make of it.</p>

      <div class="row dr">

        <div class="five columns">
            <img id="image" src="{{ url_for('static',filename='faca.jpg') }}" class="u-max-full-width image"/>
        </div>

          <div class="two columns">
              <h1>+</h1>
          </div>

        <div class="five columns">
            <img id="style" src="{{ url_for('static',filename='van_gough.jpg') }}" class="u-max-full-width image"/>
        </div>

      </div>
      <div class="row">
        <div class="five columns lw">
              <span class="nw">
                <label for="imagebutton" class="button" >Select image</label>
                <input id="imagebutton" class="loadimg" type="file" onchange="selectImage()" accept=".png, .jpg, .jpeg">
                or
                <a id="randomimage" class="button">Pick random</a>
              </span>
        </div>

        <div class="two columns lw">&nbsp;</div>

        <div class="five columns lw">
            <span class="nw">
              <label for="stylebutton" class="button">Select style</label>
                <input id="stylebutton" class="loadimg" type="file" onchange="selectStyle()" accept=".png, .jpg, .jpeg">
                or
              <a id="randomstyle" class="button">Pick random</a>
            </span>
        </div>
    </div>


    <div class="row dr">
      <div class="twelve columns">
         <img id="result" src="{{ url_for('static',filename='2.png') }}" class="u-max-full-width image"/>
      </div>
    </div>
    <div class="row">
      <a id="stylize" class="button">Stylize!</a>
    </div>

  </div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $("#randomimage").click(function() {
      $.ajax({
        type: "GET",
        url: $SCRIPT_ROOT + "/randomimage/",
        success: function(response){
          $('#image').attr('src', response);
        }
      });
    });

    $("#randomstyle").click(function() {
      $.ajax({
        type: "GET",
        url: $SCRIPT_ROOT + "/randomstyle/",
        success: function(response){
          $('#style').attr('src', response);
        }
      });
    });

    $("#stylize").click(function(){

      var img = document.getElementById("image");
      var imgdata = imageToDataURL(img);
      var style = document.getElementById("style");
      var styledata = imageToDataURL(style);

      var formData = new FormData();
      formData.append('img', imgdata);
      formData.append('style', styledata);

      $.ajax({
        type: "POST",
        data: formData,
        url: $SCRIPT_ROOT + "/stylize/",
        contentType: false,
        processData: false,
        success: function(response){
          $('#result').attr('src', response);

        }
      });
    });

    function imageToDataURL(img){
      var canvas, ctx, dataURL;
        canvas = document.createElement("canvas");
        ctx = canvas.getContext("2d");
        canvas.width = img.naturalWidth;
        canvas.height = img.naturalHeight;
        ctx.drawImage(img, 0, 0);
        dataURL = canvas.toDataURL("image/png");
        return dataURL;
    }

    function selectImage(){
      previewImage("image", "imagebutton");
    }

    function selectStyle(){
      previewImage("style", "stylebutton");
    }

    function previewImage(imgid, inputid){
      var img = document.getElementById(imgid);
      var file = document.getElementById(inputid).files[0];
      var reader  = new FileReader();

      reader.addEventListener("load", function () {
        img.src = reader.result;
      }, false);

      if (file) {
        reader.readAsDataURL(file);
      }
    }
 
 </script>

</body>
</html>